<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Red</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>255</integer>
			<key>green</key>
			<integer>132</integer>
			<key>blue</key>
			<integer>119</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>252</integer>
			<key>green</key>
			<integer>76</integer>
			<key>blue</key>
			<integer>62</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>255</integer>
			<key>green</key>
			<integer>12</integer>
			<key>blue</key>
			<integer>3</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Purple</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>202</integer>
			<key>green</key>
			<integer>109</integer>
			<key>blue</key>
			<integer>251</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>185</integer>
			<key>green</key>
			<integer>66</integer>
			<key>blue</key>
			<integer>251</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>168</integer>
			<key>green</key>
			<integer>38</integer>
			<key>blue</key>
			<integer>251</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Silver</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>179</integer>
			<key>green</key>
			<integer>179</integer>
			<key>blue</key>
			<integer>179</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>153</integer>
			<key>green</key>
			<integer>153</integer>
			<key>blue</key>
			<integer>153</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>136</integer>
			<key>green</key>
			<integer>136</integer>
			<key>blue</key>
			<integer>136</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Ultramarine</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>55</integer>
			<key>green</key>
			<integer>169</integer>
			<key>blue</key>
			<integer>255</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>15</integer>
			<key>green</key>
			<integer>141</integer>
			<key>blue</key>
			<integer>255</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>100</integer>
			<key>blue</key>
			<integer>255</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Orange</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>255</integer>
			<key>green</key>
			<integer>152</integer>
			<key>blue</key>
			<integer>75</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>255</integer>
			<key>green</key>
			<integer>123</integer>
			<key>blue</key>
			<integer>25</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>255</integer>
			<key>green</key>
			<integer>89</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Mint</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>255</integer>
			<key>blue</key>
			<integer>208</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>246</integer>
			<key>blue</key>
			<integer>190</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>232</integer>
			<key>blue</key>
			<integer>164</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Lemon Light</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>255</integer>
			<key>green</key>
			<integer>227</integer>
			<key>blue</key>
			<integer>106</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>255</integer>
			<key>green</key>
			<integer>220</integer>
			<key>blue</key>
			<integer>70</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>255</integer>
			<key>green</key>
			<integer>206</integer>
			<key>blue</key>
			<integer>9</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Lemon</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>252</integer>
			<key>green</key>
			<integer>229</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>250</integer>
			<key>green</key>
			<integer>219</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>249</integer>
			<key>green</key>
			<integer>206</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Bubble Gum</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>240</integer>
			<key>green</key>
			<integer>149</integer>
			<key>blue</key>
			<integer>191</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>255</integer>
			<key>green</key>
			<integer>113</integer>
			<key>blue</key>
			<integer>177</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>255</integer>
			<key>green</key>
			<integer>80</integer>
			<key>blue</key>
			<integer>159</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Sour Cherry</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>244</integer>
			<key>green</key>
			<integer>20</integer>
			<key>blue</key>
			<integer>121</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>214</integer>
			<key>green</key>
			<integer>16</integer>
			<key>blue</key>
			<integer>106</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>187</integer>
			<key>green</key>
			<integer>13</integer>
			<key>blue</key>
			<integer>93</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Slate Blue</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>159</integer>
			<key>green</key>
			<integer>165</integer>
			<key>blue</key>
			<integer>250</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>126</integer>
			<key>green</key>
			<integer>137</integer>
			<key>blue</key>
			<integer>249</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>110</integer>
			<key>green</key>
			<integer>123</integer>
			<key>blue</key>
			<integer>250</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Green</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>35</integer>
			<key>green</key>
			<integer>223</integer>
			<key>blue</key>
			<integer>40</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>31</integer>
			<key>green</key>
			<integer>201</integer>
			<key>blue</key>
			<integer>35</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>25</integer>
			<key>green</key>
			<integer>175</integer>
			<key>blue</key>
			<integer>29</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Sky</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>91</integer>
			<key>green</key>
			<integer>215</integer>
			<key>blue</key>
			<integer>254</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>27</integer>
			<key>green</key>
			<integer>206</integer>
			<key>blue</key>
			<integer>255</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>196</integer>
			<key>blue</key>
			<integer>255</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Charcoal</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>121</integer>
			<key>green</key>
			<integer>121</integer>
			<key>blue</key>
			<integer>121</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>66</integer>
			<key>green</key>
			<integer>66</integer>
			<key>blue</key>
			<integer>66</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>33</integer>
			<key>green</key>
			<integer>33</integer>
			<key>blue</key>
			<integer>33</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Magenta</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>253</integer>
			<key>green</key>
			<integer>160</integer>
			<key>blue</key>
			<integer>252</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>253</integer>
			<key>green</key>
			<integer>125</integer>
			<key>blue</key>
			<integer>251</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>253</integer>
			<key>green</key>
			<integer>96</integer>
			<key>blue</key>
			<integer>250</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Chocolate</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>127</integer>
			<key>green</key>
			<integer>88</integer>
			<key>blue</key>
			<integer>64</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>113</integer>
			<key>green</key>
			<integer>76</integer>
			<key>blue</key>
			<integer>58</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>102</integer>
			<key>green</key>
			<integer>65</integer>
			<key>blue</key>
			<integer>52</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Aqua</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>249</integer>
			<key>blue</key>
			<integer>255</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>233</integer>
			<key>blue</key>
			<integer>242</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>220</integer>
			<key>blue</key>
			<integer>228</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Deep Sky</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>34</integer>
			<key>green</key>
			<integer>230</integer>
			<key>blue</key>
			<integer>255</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>200</integer>
			<key>blue</key>
			<integer>248</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>175</integer>
			<key>blue</key>
			<integer>217</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Peach</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>253</integer>
			<key>green</key>
			<integer>186</integer>
			<key>blue</key>
			<integer>157</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>253</integer>
			<key>green</key>
			<integer>155</integer>
			<key>blue</key>
			<integer>116</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>253</integer>
			<key>green</key>
			<integer>127</integer>
			<key>blue</key>
			<integer>81</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Rose</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>247</integer>
			<key>green</key>
			<integer>153</integer>
			<key>blue</key>
			<integer>179</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>251</integer>
			<key>green</key>
			<integer>105</integer>
			<key>blue</key>
			<integer>148</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>254</integer>
			<key>green</key>
			<integer>61</integer>
			<key>blue</key>
			<integer>122</integer>
		</dict>
	</dict>
	<dict>
		<key>name</key>
		<string>Byzantium</string>
		<key>light</key>
		<dict>
			<key>red</key>
			<integer>155</integer>
			<key>green</key>
			<integer>66</integer>
			<key>blue</key>
			<integer>143</integer>
		</dict>
		<key>medium</key>
		<dict>
			<key>red</key>
			<integer>137</integer>
			<key>green</key>
			<integer>60</integer>
			<key>blue</key>
			<integer>126</integer>
		</dict>
		<key>intense</key>
		<dict>
			<key>red</key>
			<integer>118</integer>
			<key>green</key>
			<integer>46</integer>
			<key>blue</key>
			<integer>108</integer>
		</dict>
	</dict>
</array>
</plist>
